@import url("https://fonts.googleapis.com/css2?family=Alkalami&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=League+Spartan:wght@200;300;500&family=Open+Sans:wght@300&family=Poppins:wght@100&display=swap");
* {
  font-family: var(--family-league);
  margin: 0;
}

input {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
:root {
  --family-league: "League Spartan", sans-serif;
  --family-alkalami: "Alkalami", serif;
  --lightdarkgray: hsl(180, 29%, 50%);
  --lightgray: hsl(180, 52%, 96%);
  --darkgray: hsl(180, 8%, 52%);
  --verydarkgray: hsl(180, 14%, 20%);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(180deg 46% 65%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.active {
  color: rgb(6, 106, 117) !important;
}
.active:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 20px;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(147, 184, 189, 0)),
    color-stop(20%, rgba(147, 184, 189, 0.8)),
    color-stop(53%, rgba(147, 184, 189, 1)),
    color-stop(79%, rgba(147, 184, 189, 0.8)),
    color-stop(100%, rgba(147, 184, 189, 0))
  );
}
.disabled {
  cursor: not-allowed !important;
}
